<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>

    <title>Test Map</title>
    <style>
        /* .page-heading {
            height: 100px;
        }
        .page-content {
            height: 100%;
        } */
        #map {
            /* height: 400px; */
            height: 100%;
            width: 100%;
        }
        div.gm-style-iw-d {
            max-height:165px !important;
            overflow:scroll !important;
        }
        .truck-list-element {
            padding: 10px;
        }
        .split {
            /* height: 100%; */
            /* width: 50%; */
            position: fixed;
            /* z-index: 1; */
            /* top: 0; */
            overflow-x: hidden;
            /* padding-top: 20px; */
            display:flex;
            height: 80%;
        }

        /* Control the left side */
        .left {
            left: 0;
            width: 20%;
            overflow-y: scroll;
        }

        /* Control the right side */
        .right {
            right: 0;
            width: 80%;
            overflow-y:hidden;            
        }
    </style>
</head>

<body style="padding:5px; height:100%;">
<div class="page-heading">
    <h1>Test Map</h1>

    <div class="d-inline-block me-1">English</div>
    <div class="form-check form-switch d-inline-block">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"/>
    <label class="form-check-label" for="flexSwitchCheckDefault">日本語</label>
    </div><br>

    <!-- <div class="d-inline-block me-1">Map</div>
    <div class="form-check form-switch d-inline-block ">
    <input class="form-check-input" type="checkbox" id="listViewSwitch"/>
    <label class="form-check-label" for="listViewSwitch">List</label>
    </div><br> -->

    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active trans" id="home-tab" data-en="Current" data-jp="現在位置 " data-bs-toggle="tab" data-bs-target="#first" type="button" role="tab" aria-controls="home" aria-selected="true">Current</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link trans" id="profile-tab" data-en="Historical" data-jp="運転経路" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Historical</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link trans" id="contact-tab" data-en="MISC" data-jp="その他" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Misc</button>
    </li>
    </ul>

    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="home-tab"></div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <span>Car Code <input type="Search" id="carcode"></span>
        <span>Date <input class="form-inline" type="date" id="date" name="date"></span>
    <!--      <span>Date <input class="form-inline" id="date" name="date" placeholder="MM/DD/YYYY" type="text"></span>-->
        <span><button id="button1" class="btn btn-light">Search</button></span>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">third tab</div>
    </div>
</div>

<div class="page-content">
    <div class="split left">
        <div id="list-view"></div>
        <!-- <div>AAA</div> -->
    </div>
    
    <div class="split right">
        <div id="map"></div>
    </div>
</div>

<script>
    let svgMarker;
    let svgMarker2;
    let map;
    let markerGroups = {

    }
    let polylines = []

    function makeContentForList(carCode, speed, coords, status, driverContact){
        let content= "";
        content+= '<h5>Truck ' + carCode + '</h5>';
        if (speed){
            content+= '<h6>Speed: ' + speed + '</h6>';
        }
        if (coords){
            content+= '<h6>Coordinates: ' + coords[0] + ', ' + coords[1] + '</h6>';
        }
        if (status){
            content+= '<h6>Status: <span style="color:' + status + ';">' + status + '</span></h6>';
        }
        content+= '<span><button type="button" class="btn btn-primary" onclick=\'window.open("https://datastudio.google.com/reporting/625967e9-7fbc-46f2-a72f-0992a10dc13a/page/bqWMC","_blank")\'>See Details</button></span>';
        if (driverContact){
            content+= ' <span><button type="button" class="btn btn-info" onclick=\'alert("Call number: ' + driverContact + '")\'>Contact Driver</button></span>';
        }
        return content;
    }

    function addGroupMarkers(group, markers) {
        const finalicon = markers[0].iconImage
        /*for (var i = 0; i < markers.length; i++) {
            const marker = markers[i];
            markers[i] = addMarker(marker, group, svgMarker);
            //myAddMarker(marker, 50 * (i + 1), group, i);
            // myRemoveMarker(markers[i], 2000 * (i + 1));
        }*/
        const path = markers.filter((i, index) => index < markers.length - 2).map(i => i.coords)
        const polyline = new google.maps.Polyline({
            path: path,
            geodesic: true,
            strokeColor: "yellow",
            strokeOpacity: 1.0,
            strokeWeight: 5,
          });

        polylines.push(polyline)

        google.maps.event.addListener(polyline, 'click', function(h) {
             var latlng=h.latLng;
             var needle = {
                 minDistance: 9999999999, //silly high
                 index: -1,
                 latlng: null
             };
             path.forEach(function(routePoint, index){
                 var dist = google.maps.geometry.spherical.computeDistanceBetween(latlng, new google.maps.LatLng(routePoint));
                 if (dist < needle.minDistance){
                    needle.minDistance = dist;
                    needle.index = index;
                    needle.latlng = routePoint;
                 }
             });
             const marker = markers[needle.index];


             var infowindow = new google.maps.InfoWindow({
                 content: `<h5>Truck ${group}</h5>
                    <h6>Speed:: ${marker.Speed}</h6>
                    <h6>Coordinates: ${props.coords.lat}, ${props.coords.lng}</h6>
<!--                    <h6><a href="https://datastudio.google.com/reporting/625967e9-7fbc-46f2-a72f-0992a10dc13a/page/bqWMC" target= "_blank">See Details</a></h6>-->
<!--                    <h6>Status: <span style="color:green;">Green</span></h6>-->
                    <button type="button" class="btn btn-primary" onclick="window.open('https://datastudio.google.com/reporting/625967e9-7fbc-46f2-a72f-0992a10dc13a/page/bqWMC','_blank')">See Details</button>
                    <button type="button" class="btn btn-info" onclick="alert('Call number: 090-xxxx-xxxx')">Contact Driver</button>`
             })

            infowindow.setPosition(marker.coords)
            infowindow.setMap(map)

             // The closest point in the polyline
             //alert("Closest index: " + )

             // The clicked point on the polyline
             //alert(marker.Speed);

         });

          polyline.setMap(map);
          const marker = addMarker(markers[markers.length - 1], group, finalicon)
          markers[markers.length - 1] = marker;
            polylines.push(marker)
            //markers[markers.length - 1].setIcon(finalicon)

        //myAddMarker(0, 5, group);
    }

    function myAddMarker(markerIndex, delay, group) {

            const marker = markerGroups[group][markerIndex]
            markerGroups[group][markerIndex] = addMarker(marker, group);
            if (markerIndex > 0) {
                markerGroups[group][markerIndex - 1].setIcon(svgMarker);
            }
            myAddMarker(markerIndex + 1, delay, group)

    }

    function myRemoveMarker(marker, delay) {
        setTimeout(function () {
            removeMarker(marker);
        }, delay);
    }

    // Add Marker Function
    function addMarker(props, group, icon) {
        // console.log("props:", props);
        var marker = new google.maps.Marker({
            position: props.coords,
            map: map,
            icon: icon
        });

        function getSpeed(car) {
            return 5;
        }


        // Check for customicon
        if (props.iconImage) {
            // Set icon image
            //debugger
            //marker.setIcon(props.iconImage);
        }

        // Check content
        //if (props.content) {
            if (1==1) {
            var infoWindow = new google.maps.InfoWindow({
                //content: props.content
                content:`<h5>Truck ${group}</h5>
                    <h6>Speed: ${props.Speed}</h6>
                    <h6>Coordinates: ${props.coords.lat}, ${props.coords.lng}</h6>
<!--                    <h6><a href="https://datastudio.google.com/reporting/625967e9-7fbc-46f2-a72f-0992a10dc13a/page/bqWMC" target= "_blank">See Details</a></h6>-->
                    <h6>Status: <span style="color:green;">Green</span></h6>
                    <button type="button" class="btn btn-primary" onclick="window.open('https://datastudio.google.com/reporting/625967e9-7fbc-46f2-a72f-0992a10dc13a/page/bqWMC','_blank')">See Details</button>
                    <button type="button" class="btn btn-info" onclick="alert('Call number: 090-xxxx-xxxx')">Contact Driver</button>`
            });
            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });

        }

        return marker
    }
    function removeMarker(marker) {
        marker.setMap(null)
    }
    function changeMarkerImages() {
        for(let group in markerGroups) {
            const markers = markerGroups[group]
            for (var i = 0; i < markers.length - 1; i++) {
                console.log('changeMarkerImages', markers[i], i)
                markers[i].setIcon(svgMarker)
            }
        }
    }
    function initMap(listener) {

        var options = {
            zoom: 8,
            center: {lat: 35.555235, lng: 139.66463}
        }
        map = new google.maps.Map(document.getElementById('map'), options);

         svgMarker = {
            path:
                "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "yellow",
            fillOpacity: 0.5,
            strokeWeight: 0,
            rotation: 0,
            scale: 0.5,
            anchor: new google.maps.Point(15, 30),
        };

        svgMarker2 = {
            path:
                "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 1,
            strokeWeight: 0,
            rotation: 0,
            scale: 1,
            anchor: new google.maps.Point(15, 30),
        };

        function clearPolylines()  {
            polylines.forEach(e => {
                e.setMap(null)
            })

        }

        // Search button
        $('#button1').click(function () {
            const searchKey = $("#carcode").val();
            const dateEntered = $("#date").val();
            // console.log("dateEntered:", dateEntered);
            var dateParts= dateEntered.split("-");
            var dateEnteredFormatted= dateParts[1] + "/" + dateParts[2] + "/" + dateParts[0];
            // console.log("date formatted:", dateEnteredFormatted);
            // console.log("searchKey", searchKey);
            clearPolylines();
            clearMarkers();
            $.ajax({
                type: "POST",
                url: "/getcoords",
                //contentType: 'application/json;charset=UTF-8',
                data: {
                    'searchKey' : searchKey,
                    'date' : dateEnteredFormatted
                },
                success: function (msg) {
                    //("whatever you want to happen next")

                    let markers = [];
                    const response = msg;
                    console.log('response:', response);
                    listContent= "";
                    if (searchKey){ // If searchKey (carCode) is entered
                        markers = response[searchKey]
                        if (markers){
                            addGroupMarkers(searchKey, markers);
                            listContent+= makeContentForList(searchKey, null, null, 'Green', '090-xxxx-xxxx');
                        }
                    } else {
                        console.log('Adding list content...');
                        for(var i in response) {
                            markers = response[i];
                            addGroupMarkers(i, markers);
                            listContent+= '<div class="truck-list-element">' + makeContentForList(i, null, null, 'Green', '090-xxxx-xxxx') + '</div>';
                        }
                    }
                    document.getElementById("list-view").innerHTML = listContent;

                    // console.log("mgs", msg)
                }
            });
        });

        function clearMarkers(){
            for(var carIndex in markerGroups) {
                const lastIndex = markerGroups[carIndex].length - 1;
                const marker = markerGroups[carIndex][lastIndex];
                marker.setMap(null);
                /*for(let i =0; i< markerGroups[carIndex].length; i++){
                    markerGroups[carIndex][i] <-- this accesses every element in this car group
                }
                markerGroups[carIndex].forEach((obj, index) => {
                    console.log(obj)
                })*/
            }

        }


        $('#profile-tab').click(function () {

            clearPolylines()
            clearMarkers()

        })

         $('#home-tab').click(function () {

             clearPolylines()
             clearMarkers()
             getCurrent()

        })



        function getCurrent() {
            $.get('/historical', function(response){
                // console.log(response)
                markerGroups = response //JSON.parse(response);
                
                listContent= ""
                for(let group in markerGroups) {
                    //console.log(group);
                    addGroupMarkers(group, markerGroups[group])
                    listContent+= '<div class="truck-list-element">' + makeContentForList(group, null, null, 'Green', '090-xxxx-xxxx') + '</div>';
                }
                document.getElementById("list-view").innerHTML = listContent;
            } )
        }



        $(function() {
            getCurrent()
        })

        //setInterval(changeMarkerImages, 5000);

        setInterval(function() {
            $.get('/current', function(response) {
                console.log(response)
                const ret = JSON.parse(response)
                 for(let group in ret) {
                     const marker = addMarker(ret[group][0], group)
                     console.log(marker, group)
                     if (!(group) in markerGroups) {
                         markerGroups[group] = []
                     }
                     markerGroups[group][markerGroups[group].length - 1].setIcon(svgMarker)
                     markerGroups[group].push(marker)
                 }
            })
        }, 10 * 1000000)
    }
$("#flexSwitchCheckDefault").change(function(){
    const key = this.checked ? 'jp' : 'en'
    $(".trans").each(function() {
        $(this).text($(this).data(key))
    })
})

// $("#listViewSwitch").change(function(){
//     // console.log("list view switch activated!");
//     const key_this = this.checked ? 'map' : 'list-view'
//     const key_other = this.checked ? 'list-view' : 'map'

//     var link_this = document.getElementById(key_this);
//     link_this.style.display = 'none';

//     var link_other = document.getElementById(key_other);
//     link_other.style.display = '';
// })

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSX_16hmX360DyTVmSBvA-kE7E0ZwjqLU&callback=initMap">
</script>
</body>
</html>
